# Application configuration.
DB_CONNECTION=postgresql
DB_HOST=localhost
DB_PORT=15432
DB_DATABASE=
DB_USERNAME=postgres
DB_PASSWORD=postgres

# PostgreSQL configuration.
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=

# pgAdmin configuration.
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=

# Liquibase configuration.
MIGRATIONS_UP=true

# Swagger configuration.
SWAGGER_ENABLED=true

# WGER API configuration.
WGER_API_USERNAME=
WGER_API_PASSWORD=
